{% extends 'base_bootstrap.html' %}

{% block head %}
<title>相性診断</title>
{% endblock %}

{% block body %}
<div id="navbar-full">
   <div id="navbar">
       <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
         <div class="alert alert-success hidden">
           <div class="container">
           </div>
         </div>

         <div class="container">
           <div class="navbar-header">
             <a class="navbar-brand" href="/">AI占いApp</a>
           </div>

           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-left navbar-search-form" role="search">
                <div class="form-group">
                     <input type="text" value="" class="form-control" placeholder="Search...">
                </div>
             </form>
           </div><!-- /.navbar-collapse -->
         </div><!-- /.container-fluid -->
       </nav>
       <div class="blurred-container">
         <div class="motto">
             <div>相性診断</div>
             <p></p>
             <p>あなたと気になるあの人占ってみましょう</p>
         </div>
           <div class="img-src" style="background-image: url('static/img/title_p.png')"></div>
          <div class='img-src blur' style="background-image: url('static/img/title_p_blur.png')"></div>
       </div>
   </div><!--  end navbar -->
</div> <!-- end menu-dropdown -->

<div class="main">
    <div class="container tim-container" style="max-width:800px; padding-top:5px;">
		<h3 class="title">結果が出ました</h3>

	    <h4>あなたは</h4>
        <p><img src="{{ picture }}.png" class='img-rounded img-responsive'></p>
	    <h4>相性を知りたい方は</h4>
        <p><img src="{{ p_picture }}.png" class='img-rounded img-responsive'></p>
        <h4>相性診断</h4>
        <h3 class="title">相性度は{{ p_suchi }}%</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ p_suchi }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ p_suchi }}%;">
            <span class="sr-only">{{ p_suchi }}% Complete</span>
          </div>
        </div>
	    <p>{{ p_kekka }}</p>


        <br><br>
      <button class="btn btn-primary btn-lg" style="width:50%">
          <a href='/'>戻る</a>
      </button>
    </div>
    <div class="space"></div>
<!-- end container -->
</div>
{% endblock %}
